
    <div id="contact" class="contact_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Contactez Nous</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row map">
                <div class="span12">
                    <div class="gmaps">
                        <iframe style="width: 100%; height: 100%; border: none;" src="https://maps.google.com/maps?ll=16.286693,-61.291351&spn=0.058412,0.099049&t=m&z=14&lci=com.panoramio.all&output=embed"></iframe>
                    </div>
                    <h3>
                        Casas Thomanon est une entreprise d&eacute;di&eacute;e à la location de gites et villa touristiques à Saint François, Guadeloupe.
                        Implantée depuis 2006, nous r&eacute;pondons à vos attentes pour rendre vos vacances le plus agr&eacute;able possible.

                    </h3>
                </div>
            </div>

            <div class="row form">
                <div class="span6">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Nom</label>
                            <div class="controls">
                                <input type="text" class="span4" id="inputName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Adresse email</label>
                            <div class="controls">
                                <input type="text" class="span4" id="inputEmail">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPhone">Télèphone</label>
                            <div class="controls">
                                <input type="text" class="span4" id="inputPhone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCity">Ville</label>
                            <div class="controls">
                                <input type="text" class="span4" id="inputCity">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputComment">Commentaire</label>
                            <div class="controls">
                                <textarea class="span4" id="inputComment" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls action">
                                <button type="submit" class="btn">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span5 offset1">
                    <div class="address">
                        <h3>Adresse</h3>
                        <p>
                            Dubedou, Saint François 97118
                            <br> Guadeloupe
                        </p>
                        <div class="info">
                            <i class="contact phone"></i>
                            <a href="callto://+33605222333">+33 (0) 605 222 333</a>
                        </div>
                        <div class="info">
                            <i class="contact email"></i>
                            <a href="mailto:sci@casasthomanon.com">sci@casasthomanon.com</a>
                        </div>
                        <hr>
                        <h3>Social media</h3>
                        <div class="social">
                            <a href="#"><i class="social tw"></i></a>
                            <a href="#"><i class="social fb"></i></a>
                            <a href="#"><i class="social flickr"></i></a>
                            <a href="#"><i class="social in"></i></a>
                            <a href="#"><i class="social gp"></i></a>
                            <a href="#"><i class="social pin"></i></a>
                            <a href="#"><i class="social tumblr"></i></a>
                            <br>
                            <a href="#"><i class="social wp"></i></a>
                            <a href="#"><i class="social yt"></i></a>
                            <a href="#"><i class="social vim"></i></a>
                            <a href="#"><i class="social picasa"></i></a>
                            <a href="#"><i class="social forrst"></i></a>
                            <a href="#"><i class="social rss"></i></a>
                            <a href="#"><i class="social myspace"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
